@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Roboto:wght@700&display=swap');
#drop-todomenu{
 width: 100%;
 display: flex;
 position: fixed;
 z-index: 2;
 background-color: #fddb00;
 height: 60px;
 padding-right: 70px;
 
}



#drop-todomenu.desativy{
    z-index: 1;
}

#nome-site{
    display: flex;
    height: 80%;
    width: 20%;
    justify-content: center;
    align-items: center; 
    font-family: 'Baloo 2', cursive, sans-serif;
    color: #000000; 
    margin: auto;
    font-size: 250%;
    text-shadow: #0000009a 1px 3px  10px;
    white-space: nowrap;
}


#drop-menu{
    margin-right: 80px;
    height: 95%;
    width: 60%;
    padding-top: 7px;


}


#drrp-menu{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}




#drrp-menu li {
    display: flex;
    height: 4rem;
    margin: auto;
    list-style: none;
    justify-content: center;
    padding-top: 1px;
    margin-right: 20px;
    

}

#drrp-menu li a{
    text-decoration: none;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    padding-right: 5px;
    color: #000000;
    height: 100%;
    width: 110px;
    margin: auto;
    text-align: center;
    padding-top: 25px;  
    border-radius: 5px;
    justify-content: center;
    margin-left: 5px;
   

    

}

#drrp-menu li a:hover{
    background-color: #313131;
    color:  #FDDB00;
}

#minhabarra {
    display: flex;
}

#minhabarra div{
height: 100%;
width: 230px;
padding-top: 30px;

}


#minhabarra input{
   width: 100%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 20px;
  
}

#img-pesquisa{
    height: 25px;
    margin-right: 20px;
    margin-top: 26px;
    border-radius: 1em;
    cursor: pointer;
  
   
    

}

#menu-burgue{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px;
    margin-left: 10px;
    
}
#menu-img{
    position: absolute;
    top: 15px;
    height: 40px;
    left: 95%;
    cursor: pointer;
}

#menu-img.activi{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #000000;
}



/*banner*/


.slider{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.slides{
display: flex;
}



    #banner{
        background-color: #171717;
        padding-top: 10% ;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 4%;
        display: flex;
        justify-content: center;
        margin-bottom: -200px;      
        
    }
    #banner img{
        background-position: center;
        margin: auto;
        width: 100%;
        height: 90%;
        border-radius: 1em ;
        box-shadow: #000000 10px 30px 30px; 
        transition: 1s;
    }
    

    .slide-radio{
        display: none;
        
    }

    .meu-slide-manual{
       margin: auto;
        width: 500px;
        height: 30px;
        background-color: #171717;
        top: 50%;
        display: flex;

        
    }
.manual-slide{
    margin: auto;
    border: 2px solid #fddb00;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.30s;
}

.manual-slide:not(:last-child){
    margin-right: 10px;
}

.manual-slide:hover{
    background: #fddb00;

}



@media (max-width:1000px) {
  
    body{
        background-color: #171717;
    }

    header{
        position: relative;
        width:auto;
    }

    #nome-site{
        display: none;
        transition: 0.40s;
    }

    #drop-menu{
        display: none;
    }

    #drop-todomenu{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        width: 100%; 
        height: auto; 
    
    }

    #img-pesquisa{
        margin-left: 2px;
    }
 
     #menu-burgue{
         margin: auto;
         
     }

     .meu-slide-manual{
         position: absolute;
         display: flex;
         top: 90%;
         left: 30%;
         justify-content: center;
         align-items: flex-end;
         width: 50%;
     }
 
}