@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Baloo+2:wght@800&family=Rubik&family=Sansita+Swashed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Baloo+2:wght@800&family=Oxygen&family=Rubik&family=Sansita+Swashed:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Lobster&family=Roboto:wght@700&display=swap');


#modal-container{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(170, 170, 170, 0.589);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: -1; 
    padding-left: 85%;
}

#modal-container.active{
    opacity: 1;
    z-index: 2;
    transition: 0.50s;
}

.modal-content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    width: 300px;
    padding-top: 0px;
    padding-right: 50px;
    padding-left: 20px;
    background-color: #171717;
    z-index: 1;
}


.modal-content h1{
    font-size: 4em;
    width: 100%;
    height: 50px;
    font-family: 'Baloo 2', cursive, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -60px;
 
    
}
.modal-content h1:nth-child(1){
    color: #FDDB00;
}

.modal-content h1:nth-child(2){
    color: #FDDB00;
    margin-top: 60px;
}

.modal-content p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px ;
    font-family: Impact, 'Arial Narrow Bold', sans-serif ;
    width: 100%;
    height: 60px;
    background-color: #383838;
    margin-bottom: -60px;
}

#nav-menuzinho{
    width: 100%;
    height: 300px;
  
    
}

#nav-menuzinho li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    text-decoration: none;
    list-style: none;
    margin-bottom: 10px;
}
#nav-menuzinho ul{
width: 100%;
height: 100%;
margin-bottom: 60px;
margin-top: 50px;



}

#nav-menuzinho a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #5a5a5a;
    color: #FDDB00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    font-size: 1.5em;
    
}

#nav-menuzinho a:hover{
    color: #171717; 
    background-color: #FDDB00;
}

#modal-sair{
    display: flex;
   width: 100%;
   height: 30px;
    justify-content: center;
    align-items: center;
    background-color: #000;
    text-decoration: none;
    list-style: none;
    font: 1em sans-serif;
    cursor: pointer;
}





/*section promocao adiante*/
#promocao{
    margin-top: 90px;
    height: auto;
    width: 100%;
    padding-top: 5rem;
    margin-bottom: 2rem;

}



.div-promocao{
    justify-content: center;
    padding-top: 100px;
    padding-left: 10%;
    width: 100%;
    margin: auto;
    background-color: #1d1d1dea;
    min-height: 35rem;
    overflow: hidden;
    height: inherit;
}  
#cardpromocao 
{

float: left;
transform: rotate(10deg);
transform: scaleX(60deg);

}

#cardpromocao img{
    width: 100%;
    height: 325px; 
    margin-bottom: -112px ;
    
}


#cardpromocao #container-preco{
    display: flex;
    width: 270px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;
}

#cardpromocao p{
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    color: #fff;
    text-decoration: line-through #C70C0C 2px;

}


#cardpromocao h3{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #fff;
}


#cardpromocao #preco{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #3d8a02;
    padding-left: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: #3d8a02 0px 0px 5px 2px;
}

#cardpromocao #detalhes{
    display: flex;
    align-items: center;
    width: 32%;
    height: 100%;
    background-color: #3868B0;
    padding-left: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
  
}

#cardpromocao{
    width: 290px;
    height: 330px;
    background-color: #fddb00;
    margin-left: 60px;
    margin-bottom: 40px;
    padding: 2px;
    opacity: 95%;
}

#cardpromocao, 
#carddestaque,
#cardproduto{
    width: 290px;
    height: 330px;
    background-color: #fddb00;
    margin-left: 60px;
    padding: 2px;
    opacity: 95%;
       
}


#cardproduto{
    float: left;
    margin-bottom: 50px;
    
}



#cardpromocao:hover,
#carddestaque:hover,
#cardproduto:hover{
    cursor: pointer;
    transform: scale(106%);
    transition: 0.60s;
    opacity: 100%;
    
}


#title-produto,
#title-promocao{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: 70px;
    border-radius: 1em 1em 0em 0em ;
    padding-left: 5rem;
    color: #ffff;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
}


#barra-yallow-promocao,
#barra-yallow-produtos,
#barra-yallow
{
width: 100%;
height: 2px;
background-color: #FDDB00;
}

#produtos{
    
    min-height: 10rem;
    height: auto;
    overflow: hidden;
    margin-bottom:8rem ;
    width: 100%;
    
}


#div-produtos{
    width: 100%;
    min-height: 50rem;
    background-color: #141414;
    padding-top: 80px;
    padding-left: 60px;
    padding-right: 40px;
    overflow: hidden;
    height: inherit;
    min-height: 80rem;
    border-radius: 1em 1em 0em 0em;
    flex-basis: 100%;
}

/*cardproduto*/

#cardproduto img{
    width: 100%;
    height: 325px; 
    margin-bottom: -112px ;
    
    
}


#cardproduto #container-preco{
    position: absolute;
    display: flex;
    width: 270px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;

}

#cardproduto #preco{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #3d8a02;
    padding-left: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: #3d8a02 0px 0px 5px 2px;
    
   
}


#cardproduto #detalhes{
    display: flex;
    align-items: center;
    width: 32%;
    height: 100%;
    background-color: #3868B0;
    padding-left: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
  
}

#cardproduto h3{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #fff;
}

#cardproduto p{
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    color: #fff;
    text-decoration: line-through #C70C0C 2px;

}


#preco:hover,
#detalhes:hover{
    cursor: pointer;
    transform: scale(110%);
    transition: 0.40s;
  
}







/*depois da div produtos - / destaques* sobre/*/



#title-destaques{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #FDDB00;
    padding-right: 73%;
    border-radius: 1em 1em 0em 0em;
    opacity: 95%;
   
}

#title-sobre{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #FDDB00;
    border-radius: 1em 1em 0em 0em;
    opacity: 95%;
    justify-content: center;
    align-items: center;
    padding-right: 78%;
   

}



#title-sobre,
#title-destaques p{
    color: #000;
    font-size: 3rem;
    margin: auto;
    font-family: 'Oxygen', sans-serif;
    
}


#destaques{
    min-height: 55rem;
    height: auto;
    width: 100%;
    margin-bottom: 15rem ;
   
}
 

#div-destaques {
    min-height: 100%;
    width: 100%;
    padding: 30px; 
    min-height: 100vh;
    margin-bottom: -700px ;
    opacity: 90%;
    overflow: hidden;
    height: auto;
    margin-bottom:7rem ;
     background-image: url(/imgs/nintendo.jpg); 


}



#carddestaque img{
    width: 100%;
    height: 325px; 
    margin-bottom: -112px ;
    background-color: #000;
    border-radius: 1rem;
}

#carddestaque{
    float: left;
    margin-bottom: 50px;
   
}




#carddestaque #preco{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
    background-color: #3d8a02;
    padding-left: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    box-shadow: #3d8a02 0px 0px 5px 2px;
}
#carddestaque #container-preco{
    position: absolute;
    display: flex;
    width: 270px;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 10px;

}
#carddestaque #detalhes{
    display: flex;
    align-items: center;
    width: 32%;
    height: 100%;
    background-color: #3868B0;
    padding-left: 10px;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
}


#carddestaque h3{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #fff;
}

#carddestaque p{
    width: 100%;
    height: 20px;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 10px;
    color: #fff;
    text-decoration: line-through #C70C0C 2px ;

}


/*modal detalhes*/
#divdetalhes-card{
    position: fixed;
    left: 0;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(170, 170, 170, 0.589);
    color: white;
    opacity: 0;
    z-index: -1;
    padding-top: 91px;
    
    
    

}

#divdetalhes-card img{
 position: absolute;
 width: 45px;
 height: 45px;
 left: 90%;
 cursor: pointer;
 
}

 #divdetalhes-card.activy{
    opacity: 1;
    z-index: 1;   
    transition: 0.40s;
} 

.modal-detalhes{
 width: 60%;
 height: 450px;
 background-color: #141414;
 margin: auto;

}

.modal-detalhes h1{
display: flex;
justify-content: center;
align-items: center;
background-color: #171717;
height: 50px;
color: #fddb00f6;
font-family: 'Roboto', sans-serif;
}


.modal-detalhes p{
    width: 100%;
    height: 100%;
    background-color: #383838;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


#sobre{
    width: 100%;
    height: 50rem;
    margin-bottom: 0px;
}

#sobre img{
    width: 100%;
    height: 90%;
    opacity: 60%;
    
}


#texto-quemsomo{
padding-top: 80px;
padding-left: 50px;
padding-right: 40px;
position: absolute;
left: 70px;
width: 90%;
height: 60%;
text-align: center;
font-family: 'Lobster', cursive;
font-size: 2em;
color: #fff;


}



#texto-quemsomo .quem-somos{
margin-bottom: 60px;
width: 100%;
height: 60px;
display: flex;
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
font-size: 50px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}





/*footer*/




#contatos{
    padding-top: 5%;
    background-color: rgba(0, 0, 0, 0.973);
    height: 700px;
    width: 100%;
    padding-left:20px;
}

#contatos h1{
    color: white;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    padding-left: 10px;
    margin-bottom: 30px;
}

.caixadecnt{
    width: 20%;
    flex-direction: row;
    padding: 10PX;
}

#contatos h2,
.caixadecnt h3{

    flex-direction: column;
    color: rgb(253, 253, 253);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

#contatos h2{
    width: 10%;
    padding-top: 10px;
    color: rgb(226, 226, 226);
    
}

.caixadecnt{
    margin-bottom: 30px;
}

#areaobs{
    margin-bottom: 5px;
    border-color: rgb(0, 0, 0);
    border-style: hidden;
    resize: none;
}



#finalsitecnt{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#btnemviar-contatos{
    color: rgb(255, 255, 255);
    background-color: rgba(151, 243, 13, 0.767);
    font-size: 20px;
    margin-bottom: 50px;
    border-radius: 1rem;
    border:none;
    cursor: pointer;
    width: 80px;
    height: 60px;
    
}