*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
}

#div-menu{
   width: 100%;
   background-color: #242424;
   height: 150px;
   
} 

#div-menu h1{
 font-size: 40px;
}

#conteudo h3{
    height: 30px;
    width: 140px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#categorias-cms{
    width: 100%;
    background-color: #6d6d6d;
    height: 140px;
    flex-direction: row;
    white-space: nowrap;
    margin-bottom: 100px;
   
} 
#opçoes-escolha{
    display: flex;
    color: #fddb00;
    gap: 70px;
      
}

#opçoes-escolha{
    margin-left: 70px;
}
#categorias-cms img{
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 6.8em; 
  
}

#conteudo{
    width: 300px;
    height: 100px;
    margin-left: 200px;
    color: #ffffff;
}

#conteudo h1{
    padding-top: 20px;
}

#hellou{
    width: 150px;
    padding-top: 5px;
    margin-left: 60%;
    margin-bottom:10px ;
    font-size: 1rem;
    text-align: center;
    height: 60px;
    font-size: 2rem;
    margin-bottom: -40px;
    color: #ffffff;
}

#categorias-cms #usuarioimg{
    height: 60px;
    width: 60px;
    margin-right: 43%;
    margin-left: 60px;
    
}

main h1{
    margin-top: 50px;
    margin-left: 100px;
}
