#consultaDeDados{
    width: 1100px;
    min-height: 300px;
    height: auto;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 10px #141414;
}
#tblConsulta{
    width: 100%;
    min-height: 30px;
    height: auto;
}
#tblTitulo{
    width: 109%;
    height: 30px;
    background-color: rgb(26, 26, 26);
    color: #ffffff;
    text-align: center;
    font-size: 1.6em;
    
}


#tblTitulo h1{
    margin: auto;
}
#tblLinhas{
    width: 105%;
    height: 50px;
    color: rgb(0, 0, 0);
    border: solid 1px black;
}
.tblColunas{
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: #ffffff;
    
    border: solid 1px black;
    
}

#caixaCategoria,
#caixanome,
#caixaemail,
#caixaobs,
#caixanada{
    background-color: #000;
    color: #ffffff;
}
.tblImagens{
    width: auto;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
   
    
}

.excluir, .pesquisar, .editar{
    width: 30px;
    height: 30px;
    float: left;
    margin-left: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.excluir:hover, .editar:hover, .pesquisar:hover {
    transform: scale(1.3);
    transition: 1s;
}


#visualizar{
    width: 1100px;
    height: 800px;
    border: solid 1px #f81414;
    margin-left: auto;
    margin-right: auto;
}

#visualizar table{
    width: inherit;
    height: inherit;
}

#visualizar table tr{
    height: 20px;
}

#visualizar table tr td{
    width: 70%;
    border: solid 1px #cccccc;
}

.visualizarTitulo{
    background-color: darkcyan;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
}

.registros{
    background-color: #faf9f9;
}

.destaque{
    font-weight: bold;
}

/*Modal*/
#containerModal{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#modal{
    width: 55vw;
    height: 60vh;
    background-color: #ffffff;
/*    margin: auto;*/
}

.fotoimg{
    width: 100px;
    height: 80px;
}

